/* 
@value typography: "./typography.css";
@value normal from typography; 
*/

.reset {
  /* composes: normal; */
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
}

.reset-button {
  composes: reset;
}

.reset-button:hover,
.reset-button:active,
.reset-button:focus {
  cursor: pointer;
}