@value colors: '../styles/colors.css';
@value accents, alt-background from colors;

@value forms '../styles/forms.css';
@value reset from forms;

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    background-color: alt-background;
    z-index: 999;
    height: nav-height-mobile;
  }

  .link {
    composes: reset;
    color: accents;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-grow: 10;
    padding: 0 1vw;
  }
  
  .logo {
    height: 5vh;
    pointer-events: none;
    flex-grow: 1;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  